.s1 ul li:hover {
    letter-spacing: 1px;
}

.s2 .sec-two ul li:hover {
    opacity: .9;
}

.s3 .sec-three ul li a img:hover {
    transform: scale(1.05);
}

.s4 input[type=submit]:hover {
    letter-spacing: 1px;
}

.s5 .footer ul li img:hover {
    transform: scale(1.05);
}